# Google Sheets API Configuration
# Replace these values in .env.local for local development
GOOGLE_SCRIPT_URL=https://script.google.com/a/macros/riocuarto.gov.ar/s/AKfycbwMM2aK7MYn3RjAB4Va_nY5jJHd4KVMN67JGpjmRt9-oj-RJC_8bnu7e0A7Z6R1IF8mmA/exec
SPREADSHEET_ID=1jm2ScmDUQLx-9AtapediMRkHrQ95ZO29tzW-x3IJ3dY
SHEET_NAME=users
