html {
  position: relative;
  min-height: 100%;
}

body {
  //background-color: $gray-100;
}

.home {
  background-color: $primary;
  color: white;
  min-height: 100vh;
  padding-top: 5%;
  text-align: center;
}