.credential {
  border-color: $primary;
  padding-top: 5%;
  .card {
    text-align: center;
    &-header {
      padding: 0;
    }
    &-body {
    }
    &-message {
      text-transform: uppercase;
      color: white;
      background-color: $success;
      padding: 8px;
    }
    &-title {
      font-weight: 700;
      font-size: 1.1em;
      color: $primary;
      margin: 20px 0;
    }
    &-text {
      font-weight: 700;
      margin-bottom: 0;
    }
    &-small {
      color: $gray-600;
      margin-bottom: 8px;
      font-size: 0.8rem;
    }
  }
}
