.unauthorized {
  padding-top: 5%;
  .card {
    text-align: center;
    &-header {
      padding: 0;
    }
    &-body {
    }
    &-message {
      text-transform: uppercase;
      color: white;
      background-color: $danger;
      padding: 8px;
    }
  }
}
